<ul>
    <%@cartoons.each do |cartoon| %>
        <%=link_to category_cartoon_path(@category,cartoon) do%>
            <li style="background-image: url(<%=image_url(@cartoon.preview)%>);">
              <div class="playFromList"><div class="btnPlay"></div></div><span><%=cartoon.title%></span>
            </li>
        <%end%>
    <%end%>
</ul>