<!-- Подвал -->
<div class="row footer">
  <div class="container">
    <div class="col-lg-3">
      <p>Copyright(c) Disigned by rodosabc</p>
    </div>
    <div class="col-lg-3">
      <ul>
        <li><h3>Мультсериалы</h3></li>
        <%3.times do%>
            <%category = @animated_cat.subcategories.sample %>
        <li>
          <%=link_to category.name, category_categories_path(category)%>
        </li>
        <%end%>
      </ul>
    </div>
    <div class="col-lg-3">
      <ul>
        <li><h3>Мультфильмы</h3></li>
        <%3.times do%>
            <%category = @cartoon_cat.subcategories.sample %>
        <li>
          <%=link_to category.name, category_categories_path(category)%>
        </li>
        <%end%>
      </ul>
    </div>
  </div>
</div>