<!-- Подвал -->
<div class="row footer">
  <div class="container">
    <div class="col-lg-3">
      <p>Copyright(c) Disigned by rodosabc</p>
    </div>
    <div class="col-lg-3">
      <ul>
        <li><h3>Мультсериалы</h3></li>
        <%3.times do%>
            <%category = @animated_cat.subcategories.sample %>
        <li>
          <%=link_to category.name, categories_path(category.category_url_name)%>
        </li>
        <%end%>
      </ul>
    </div>
    <div class="col-lg-3">
      <ul>
        <li><h3>Мультфильмы</h3></li>
        <%@cartoon_cat.cartoons.take(3).each do |cartoon|%>
        <li>
          <%=link_to cartoon.title, cartoon_path(@cartoon_cat.category_url_name,cartoon.url_name)%>
        </li>
        <%end%>
      </ul>
    </div>
  </div>
</div>