<div class="row nav-main">
  <div class="container">
    <div class="logo">
      <a href="index.html">
        <img>
      </a>
    </div>
    <div class="menu">
      <ul>
        <%=link_to root_path do%>
            <li>Главная</li>
        <%end%>
        <% @two_categories.each do |category| %>
              <%=link_to category_categories_path(category) do%>
                  <li><%=category.name%></li>
              <%end%>
        <%end%>
      </ul>
    </div>
  </div>
</div>